* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #f1f1f1;
    font-family: 'JMH Typewriter', sans-serif;
    font-size: 16px;
    color: #fff;
    justify-content: center;
    min-height: 100vh;
}

header {
    position: relative;
    text-align: center;
    padding: 2rem 0;
}

.stamp {
    position: absolute;
    top: 15%;
    left: 70%;
}
.stamp > img {
    width: 70px;
    height: auto;
    transform: rotate(70deg);
}

.main-container {
    max-width: 600px;
    background-image: url('https://wallpapercave.com/wp/wp7074015.jpg');
    background-position: left;
    background-size: cover;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    padding: 0 1.5rem;
}

.img {
    padding: 1rem;
}

.img > img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.answers-container {
    padding: 2rem;
}

.answer {
    font-size: 1.1rem;
}

.button-container {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.next-button {
    font-family: 'JMH Typewriter', sans-serif;
    font-size: 2rem;
    height: 50px;
    width: 90px;
    border-radius: 10px;
    background-color: #fff;
    color: #314b86;
    transition: ease-in-out .4s;
}

.next-button:hover {
    cursor: pointer;
    color: red;
    transition: ease-in-out .4s;
}

.prison-mike-text {
    font-size: .8rem;
    padding: 4rem 1rem 0 12rem;
}